[package]
name = "compiler"
version = "0.1.0"
edition = "2021"

[dependencies]
# Must match the version in pico2-quick exactly
wasmtime = { version = "41.0.1", features = ["component-model", "pulley"] }
anyhow = "1.0"
